.form-horizontal {
    display: inline-block;
    margin: 35px;
    width: 350px;
}

.form-horizontal .radio {
    text-align: left;
}

body {
    background-color: black;
}

#mainBox {
    padding: 70px;
    text-align: center;
}
fieldset {
    text-align: center;
}

#outBox {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}

#wrapper {
    margin-top: 60px;
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}
.form-control {
    width: 90%;
    margin-left: 10px;
}

.form-horizontal .form-group {
    margin-left: -5px;
    width: 380px;
}

#navMain {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}

.nav > li {
    padding-top: 15px;
}

.nav > li > a {
    display: initial;
}

.modal-dialog {
    display: block;
}

#postBox {
    float: left;
    margin-left: 50px;
}

.modal-footer {
    padding: 0 2px 0 0;
}

.modal-body p {
    overflow-wrap: break-word;
}

.modal-title {
    display: inline;
}

.modal-footer .form-group {
    display: inline-block;
    width: 440px;
    margin-top: 13px;
}

.likes {
    float: right;
}

.modal-comment {
    position: relative;
    padding: 10px;
    display: initial;
}

.comment-author-photo {
    float: left;
    margin-right: 15px;
}
.hr-comment {
    margin-top: 10px;
}

.comment-info {
    float: left;
    margin-right: 50px;
}

.panel {
    margin-bottom: 0px;
}

#fixNav {
    position: fixed;
    top: 0px;
    z-index: 2;
}

#newsHeader {
    margin-top: 55px;
}

#shortFriendListModalDialog {
    width: 500px;
    margin-left: 660px;
    margin-top: 30px;
    position: fixed;
}

#shortFriendListModalContent {
    height: 400px;
}

#shortFriendListModalBody {
    padding: 10px;
}

.shortFriendListPhoto {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 5px;
}

.shortFriendListFriendName {
    position: absolute;
    margin-top: 110px;
    margin-left: -120px;
    color: red;
    font-weight: bolder;
    background-color: black;
}

#shortFriendListModalBody2 {
    padding: 10px;
    display: initial;

}

#inputSuccess {
    margin-right: -10px;
}

#likeButton, #hateButton {
    width: 55px;
}

.list-group-item {
    width: 350px;
    height: 100px;
}

#pendingFrRequests {
    position: absolute;
}

.friendReqButtonsWrapper {
    float: right;
}

.friendReqButtonsWrapper button {
    display: block;
    width: 70px;
}

#friendReFooter {
    height: 40px;
    text-align: center;
}

#profilePhoto {
    margin-top: -15px;
}

#myPofileCover {
    width: 1200px;
    height: 250px;
    margin-top: 50px;
}

#myProfileName {
    position: absolute;
    font-size: 40px;
    top: 140px;
    z-index: 1;
    left: 650px;
    font-weight: bold;
}

#myPofilePhoto {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 135px;
    left: 385px;
    border: 5px solid white;
}

#friendButton, #askFriendButton, #pendingFriendButton {
    position: absolute;
    left: 700px;
    top: 200px;
    opacity: 1;
}
