.form-horizontal {
    display: inline-block;
    margin: 35px;
    width: 350px;
}

.form-horizontal .radio {
    text-align: left;
}


#mainBox {
    padding: 70px;
    text-align: center;
}
fieldset {
    text-align: center;
}

#outBox {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}

#wrapper {
    margin-top: 60px;
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}
.form-control {
    width: 90%;
    margin-left: 10px;
}

.form-horizontal .form-group {
    margin-left: -5px;
    width: 380px;
}

#navMain {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}

.nav > li {
    padding-top: 15px;
}

.nav > li > a {
    display: initial;
}

.modal-dialog {
    display: block;
}

#postBox {
    float: left;
    margin-left: 50px;
}

.modal-footer {
    padding: 0 2px 0 0;
}

.modal-body p {
    overflow-wrap: break-word;
}

.modal-title {
    display: inline;
}

.modal-footer .form-group {
    display: inline-block;
    width: 440px;
    margin-top: 13px;
}

.likes {
    float: right;
}

.modal-comment {
    position: relative;
    padding: 10px;
    display: initial;
}

.comment-author-photo {
    float: left;
    margin-right: 15px;
}
.hr-comment {
    margin-top: 10px;
}

.comment-info {
    float: left;
    margin-right: 50px;
}

.panel {
    margin-bottom: 0px;
}

#fixNav {
    position: fixed;
    top: 0px;
    z-index: 1;
}

#newsHeader {
    margin-top: 55px;
}