<div id="fixNav" ng-include="'templates/nav-bar.html'"></div>

<div style="margin: 100px auto; width: 1000px"  class="modal-content" ng-controller="FriendController">
    <div class="modal-header">
        <a href="">Friends total
            <span class="badge">{{fullFriendsList.length}}</span>
        </a>
        <div style="width: 200px; float: right; margin-top: -10px;">
            <input type="text"  ng-model="searchFriends" class="form-control" placeholder="Filter">
        </div>
    </div>
    <div id="shortFriendListModalBody" class="modal-body">
        <div id="shortFriendListModalBody2" ng-repeat="friend in fullFriendsList | filter:{name: searchFriends}" >
            <a href="#/user/{{friend.username}}">
                <img class="shortFriendListPhoto" ng-src="{{friend.profileImageData || 'resources/noPhoto.jpg'}}" width="130px" height="130px">
                <span class="shortFriendListFriendName">{{friend.name}}</span>
            </a>
        </div>
    </div>
</div>