<div id="fixNav" ng-include="'templates/nav-bar.html'"></div>

<div id="wrapper" ng-controller="FeedController"->
    <h1 id="newsHeader">News Feed</h1>
    <div id="postBox" ng-repeat="posts in feed">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img ng-src="{{posts.author.profileImageData}}" width="50px" height="50px">
                    <h4 class="modal-title">{{posts.author.name}}</h4>
                    <div class="likes">Likes <span class="badge">{{posts.liked}}</span></div>
                    <div class="comment-date">{{posts.date}}</div>
                </div>
                <div class="modal-body">
                    <p>{{posts.postContent}}</p>
                </div>
                <hr/>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comments:</h3>
                    </div>
                    <div class="panel-body" ng-repeat="com in posts.comments">
                        <div class="modal-comment">
                            <img class="comment-author-photo" ng-src="{{com.author.profileImageData || 'resources/no avatar.png'}}" width="50px" height="50px">
                            <div class="comment-info">
                                <div class="comment-author">{{com.author.name}}</div>
                                <div class="comment-date">{{com.date}}</div>
                            </div>
                            <div class="comment-comment">{{com.commentContent}}</div>
                        </div>
                        <hr class="hr-comment"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group has-success">
                        <input type="text" class="form-control" id="inputSuccess">
                    </div>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Like</button>
                    <button type="button" class="btn btn-primary">Comment</button>
                </div>
            </div>
        </div>
    </div>
</div>
