
<div class="modal-dialog" ng-controller="PostController" ng-repeat="posts in feed">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#/user/{{posts.author.username}}">
                <img ng-src="{{posts.author.profileImageData || 'resources/noPhoto.jpg'}}" width="50px" height="50px">
            </a>
            <a href="#/user/{{posts.author.username}}">
                <h4 class="modal-title">{{posts.author.name}}</h4>
            </a>
            <div class="likes">Likes <span class="badge">{{posts.likesCount}}</span></div>
            <button type="button" ng-click="deletePostById(posts.id, posts.postNumber)" ng-if="currentUserData.isMe == true || posts['author'].username == username"  class="btn btn-danger"  data-dismiss="modal">Delete</button>
            <button type="button" ng-click="posts.notEdit = true" ng-if="currentUserData.isMe == true || posts['author'].username == username"   class="btn btn-info"  data-dismiss="modal">Edit</button>
            <div class="comment-date">{{dateFilter(posts.date)}}</div>
        </div>
        <div class="modal-body">
            <p ng-if="!posts.notEdit">{{posts.postContent}}</p>
            <textarea  style="color: black;" ng-model="posts.postContent"  ng-if="posts.notEdit">{{posts.postContent}}</textarea>
            <button type="button" ng-if="posts.notEdit" ng-click="editPostById(posts.id, posts.postNumber); posts.notEdit = false"   class="btn btn-info"  data-dismiss="modal">Save</button>
        </div>
        <hr/>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Comments:</h3>
            </div>
            <div class="panel-body" ng-repeat="com in posts.comments">
                <div class="modal-comment">
                    <a href="#/user/{{com.author.username}}">
                        <img class="comment-author-photo" ng-src="{{com.author.profileImageData || 'resources/noPhoto.jpg'}}" width="50px" height="50px">
                    </a>
                    <div class="comment-info">
                        <a href="#/user/{{com.author.username}}"><div class="comment-author">{{com.author.name}}</div></a>
                        <div class="comment-date">{{dateFilter(com.date)}}</div>
                    </div>
                    <div class="comment-comment">{{com.commentContent}}</div>
                </div>
                <hr class="hr-comment"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="getPostComments(posts.id, posts.postNumber); com.hide = true;" ng-hide="com.hide" ng-if="posts.totalCommentsCount > 3" class="btn btn-primary" style=" display: block; margin: 5px auto -5px;">More comments</button>
            <div class="form-group has-success">
                <button type="button" class="btn btn-info" ng-if="!posts.drop" ng-click="posts.drop = true">Comment</button>
                <input ng-if="posts.drop" type="text" ng-model="posts.currentPostComment" class="form-control" id="inputSuccess">
            </div>
            <button type="button" ng-if="posts.drop" ng-click="postComment(posts.id, posts.currentPostComment, posts.postNumber); posts.currentPostComment = null;" class="btn btn-primary">Post</button>
            <button type="button" id="likeButton" class="btn btn-success" ng-click="likePost(posts.id); posts.liked = true; posts.likesCount = posts.likesCount + 1;" data-dismiss="modal" ng-if="posts.liked == false">Like</button>
            <button type="button" id="hateButton" class="btn btn-danger" ng-click="hatePost(posts.id); posts.liked = false; posts.likesCount = posts.likesCount - 1;"  data-dismiss="modal" ng-if="posts.liked == true">Hate</button>
        </div>
    </div>
</div>