<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="fixNav" ng-include="'templates/nav-bar.html'"></div>
    <h1>USER SCREEN!</h1>
<br/>
<br/>
<div>haxhahxa</div>





    <div>
        <ul class="list-group" ng-if="returnedSearchData.length">
            <li class="list-group-item" ng-repeat="user in returnedSearchData">
                <img ng-src="{{user.profileImageData || 'resources/noPhoto.jpg'}}" width="75px" height="75px"/>
                <div style="display: inline-block">{{user.name}}</div>
            </li>
            <li id="friendReFooter" class="list-group-item">
                <div>{{returnedSearchData.length}} results total!</div>
            </li>
        </ul>
    </div>



</body>
</html>